/*HEADER*/
.header_container{
    width: 100%;
    height: 50px;
    background-color: #ffdd88;
    display: grid;
    place-items: center;
}

    .header_inner_container{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        /*LOGO*/
        .header_inner_logo_container{
            width: auto;
            height: 40px;
            margin-left: 10px;
        }

            .header_inner_logo_container img{
                width: auto;
                height: 40px;
            }

        /*NAVIGATION MENU*/
        nav button{
            padding: 0;
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
            display: grid;
            place-items: center;
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }

            .buttonBar{
                content: "";
                display: block;
                width: 35px;
                height: 3px;
                background-color: #fcfcfc;
                grid-area: 1 / 1;
                transition: transform 0.5s;

            }

        button::before, button::after{
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fcfcfc;
            grid-area: 1 / 1;
            transition: transform 0.5s;
        }

        button::before{
            transform: translateY(-12px);
        }

        button::after{
            transform: translateY(12px);
        }

        .navigation_menu_container{
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.7);
            transition: transform 0.5s;
            display: grid;
            place-items: center;
        }

            .navigation_menu_container ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

                .navigation_menu_container ul li{
                    font-family: "Noto Serif JP", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    color: #ffffff;
                    text-align: center;
                }

/*OPEN CLASS*/
.open{
    position: fixed;
    overflow: hidden;
    width: 100%;
}

    .open .header_container .buttonBar{
        transform: scale(0);
    }

    .open button::before{
        transform: translateY(0) rotate(45deg);
        z-index: 1000;
    }

    .open button::after{
        transform: translateY(0) rotate(-45deg);
        z-index: 1000;
    }

    .open .navigation_menu_container{
        transform: translate(-100%, 0);
    }

@media(min-width: 768px){
    .header_inner_container nav button{
        display: none;
    }

    .navigation_menu_container{
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;
    }

    .navigation_menu_container ul{
        flex-direction: row;
    }
}

/*MAIN*/
/*FIRST VIEW -MOBILE-*/
.firstView_container{
    width: 100%;
    height: 550px;
    background-image: url(../img/firstview_image_ver2_w768_h550.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

    .firstView_text_container{
        width: 350px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

        .firstView_text_container h1{
            font-family: "Zen Maru Gothic", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            margin-top: 5px;
            position: absolute;
            left: 0;
        }

        .firstView_text_container h2{
            font-family: "Noto Serif JP", serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-size: 28px;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 40px;
        }

        .firstView_text_copy_container{
            position: absolute;
            top: 480px;
        }

            .firstView_text_copy_container h3{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 28px;
                line-height: 2rem;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
            }

/*FIRST VIEW -SEand13mini-*/
@media(max-width: 350px){
    .firstView_text_container{
        width: 300px;
    }
}

/*FIRST VIEW -DESKTOP-*/
@media(min-width: 768px){
    .firstView_text_container{
        width: 768px;
        max-width: 1280px;
    }

    .firstView_text_container h1{
        margin-left: 10px;
    }
}

/*FEATURE -MOBILE-*/
.feature_container{
    width: 100%;
    height: auto;
}

    .feature_heading_container{
        width: 100%;
        height: 150px;
        background-color: #fcfcfc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

        .feature_heading_container h2{
            font-family: "Kaisei Decol", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }

    .feature_contents_container{
        width: 100%;
        height: 730px;
        background-color: #feecd2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

        .feature_contents_image_container, .feature_contents_text_container{
            width: 350px;
            height: 350px;
        }

        .feature_contents_image_container{
            background-image: url(../img/feature_w720_h720.jpg);
            background-size: cover;
            background-size: center;
            display: grid;
            place-items: center;
        }

            .feature_contents_image_container h3{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 24px;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
            }

        .feature_contents_text_container{
            display: grid;
            place-items: center;
        }

                .feature_contents_text_container ul li{
                    font-family: "Noto Serif JP", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 20px;
                    margin-top: 20px;
                }

/*FEATURE -DESKTOP-*/
@media(min-width: 768px){
    .feature_contents_text_container ul li{
        font-size: 22px;
    }

    .feature_contents_image_container, .feature_contents_text_container{
        width: 374px;
    }

    .feature_contents_container{
        height: 390px;
    }

    .feature_contents_container{
        flex-direction: row;
        gap: 20px;
    }

    .feature_heading_container h2{
        font-size: 32px;
    }

    .feature_heading_container{
        height: 200px;
    }
}

/*FEATURE -SEand13mini-*/
@media(max-width: 350px){
    .feature_contents_text_container ul li{
        font-size: 16px;
    }

    .feature_contents_image_container h3{
        font-size: 20px;
    }

    .feature_contents_image_container, .feature_contents_text_container{
        width: 300px;
    }

    .feature_heading_container h2{
        font-size: 14px;
    }
}

/*MESSAGE -MOBILE-*/
.message_container{
    width: 100%;
    height: auto;
    background-color: #ffdd88;
}

    .message_contents_container{
        width: 100%;
        height: 730px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-image: url(../img/message_background_w1440_h1440.jpg);
    }

        .message_contents_image_container, .message_contents_text_container{
            width: 350px;
            height: 350px;
        }

        .message_contents_image_container{
            background-image: url(../img/cotton_w500_h500.jpg);
            background-size: cover;
            background-position: center;
            display: grid;
            place-items: center;
        }

            .message_contents_image_container h3{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 24px;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.3);
                padding: 10px;
            }
        
        .message_contents_text_container{
            display: grid;
            place-items: center;
        }

            .message_contents_text_container h4{
                font-family: "Noto Serif JP", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                line-height: 4rem;
                text-align: center;
                text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.7);
            }

    .message_heading_container{
        width: 100%;
        height: 150px;
        background-color: #343434;
        display: grid;
        place-items: center;
    }

     .message_heading_container h2{
        font-family: "Kaisei Decol", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #fcfcfc;
     }

/*MESSAGE -DESKTOP-*/
@media(min-width: 768px){
    .message_heading_container h2{
        font-size: 32px;
    }

    .message_heading_container{
        height: 200px;
    }
    
    .message_contents_image_container, .message_contents_text_container{
        width: 374px;
    }
        
    .message_contents_container{
        flex-direction: row-reverse;
        height: 390px;
        gap: 20px;
    }
}


/*MESSAGE -SEand13mini-*/
@media(max-width: 350px){
    .message_heading_container h2{
        font-size: 14px;
    }
    
    .message_contents_text_container h4{
        font-size: 20px;
    }

    .message_contents_image_container h3{
        font-size: 20px;
    }

    .message_contents_image_container, .message_contents_text_container{
        width: 300px;
    }
}

/*EMPATHY -MOBILE-*/
.empathy_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .empathy_heading_container{
        width: 350px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .empathy_heading_container img{
            width: 100px;
            height: 100px;
        }

        .empathy_heading_container h2{
            font-family: "Kaisei Decol", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }

    .empathy_contents_container{
        width: 350px;
        height: auto;
    }

    @media(min-width: 768px){
        .empathy_contents_container{
            display: flex;
            justify-content: center;
            width: 768px;
            max-width: 1440px;
        }
        
        .empathy_heading_container h2{
            font-size: 32px;
        }

        .empathy_heading_container{
            width: 768px;
            max-width: 1440px;
        }
    }

        .empathy_contents_inner_container{
            width: 350px;
            height: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

            .empathy_contents_inner_card_container{
                width: 330px;
                height: 90px;
                border-radius: 10px;
                background-color: #feecd2;
                display: flex;
                align-items: center;
                padding: 5px;
            }

            .empathy_card_reverse{
                flex-direction: row-reverse;
            }

                .empathy_contents_inner_card_container img{
                    width: 80px;
                    height: 80px;
                }

                .empathy_contents_inner_card_container p{
                    font-family: "Noto Serif JP", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                }

/*EMPATHY -SEand13mini-*/
@media(max-width: 350px){
    .empathy_contents_inner_card_container p{
        font-size: 16px;
    }

    .empathy_contents_inner_card_container{
        width: 280px;
    }

    .empathy_contents_inner_container{
        width: 300px;
    }

    .empathy_contents_container{
        width: 300px;
    }

    .empathy_heading_container h2{
        font-size: 16px;
    }

    .empathy_heading_container img{
        width: 80px;
        height: 80px;
    }

    .empathy_heading_container{
        width: 300px;
    }
}

/*SOLUTION -MOBILE-*/
.solution_container{
    width: 100%;
    height: auto;
}

    /*HEADING*/
    .solution_heading_container{
        width: 100%;
        height: 150px;
        display: grid;
        place-items: center;
        background-color: #ffffff;
    }

        .solution_heading_container h2{
            font-family: "Kaisei Decol", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
        }
    
    /*CONTENTS*/
    .solution_contents_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .solution_contents_inner_container{
            width: 350px;
            height: 730px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
        }

            .solution_contents_inner_text_container, .solution_contents_inner_image_container{
                width: 350px;
                height: 350px;
            }

                .solution_contents_inner_image_container img{
                    width: 350px;
                    height: 350px;
                }

                .solution_contents_inner_text_title_container{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                }

                    .solution_contents_inner_text_title_container h3{
                        font-family: "Noto Serif JP", serif;
                        font-optical-sizing: auto;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 24px;
                        margin-left: 10px;
                    }

                    .solution_number{
                        width: 50px;
                        height: 50px;
                        background-color: #de6641;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        border-bottom-left-radius: 50%;
                        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
                        display: grid;
                        place-items: center;
                    }

                    .number_second{
                        background-color: #93b447;
                    }

                    .number_third{
                        background-color: #ca4684;
                    }

                    .number_forth{
                        background-color: #136eab;
                    }

                    .number_fifth{
                        background-color: #8a017c;
                    }

                    .number_sixth{
                        background-color: #5d5099;
                    }

                        .solution_number p{
                            font-family: "Noto Sans JP", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 700;
                            font-style: normal;
                            font-size: 24px;
                            color: #fcfcfc;
                        }

                .solution_contents_inner_text_description_container{
                    width: 100%;
                    height: 280px;
                    padding: 10px 5px;
                }

                    .solution_contents_inner_text_description_container p{
                        font-family: "Noto Serif JP", serif;
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 18px;
                        line-height: 1.5rem;
                    }

.underHeading_container{
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}

    .underHeading_container h4{
        font-family: "Kaisei Decol", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
    }

/*SOLUTION -SEand13mini-*/
@media(max-width: 350px){
    .underHeading_container h4{
        font-size: 20px;
    }

    .solution_contents_inner_image_container img{
        width: 300px;
        object-fit: cover;
    }

    .solution_contents_inner_text_container, .solution_contents_inner_image_container{
        width: 300px;
    }

    .solution_contents_inner_container{
        width: 300px;
    }
}

/*SOLUTION -DESKTOP-*/
@media(min-width: 768px){
    .underHeading_container h4{
        font-size: 32px;
    }

    .solution_contents_inner_text_title_container h3{
        font-size: 28px;
    }

    .solution_contents_inner_text_container, .solution_contents_inner_image_container{
        width: 379px;
    }

    .solution_contents_inner_text_container p{
        font-size: 20px;
    }

    .solution_contents_inner_image_container img{
        width: 379px;
        object-fit: cover;
    }

    .solution_heading_container h2{
        font-size: 32px;
    }

    .solution_contents_inner_container{
        width: 768px;
        height: 370px;
        flex-direction: row;
        align-items: center;
    }

    .solution_second_contents, .solution_forth_contents, .solution_sixth_contents{
        flex-direction: row-reverse;
    }
}

/*ACCESS -MOBILE-*/
.access_container{
    width: 100%;
    height: auto;
}

    /*HEADING*/
    .access_heading_container{
        width: 100%;
        height: 150px;
        display: grid;
        place-items: center;
        background-color: #343434;
    }

        .access_heading_container h2{
            font-family: "Kaisei Decol", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: #fcfcfc;
        }
    
    /*DESCRIPTION*/
    .access_contents_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

        .access_contents_inner_container{
            width: 350px;
            height: 350px;
        }

        .access_inner_by_train{
            height: 500px;
        }

            .access_contents_inner_title_container{
                width: 100%;
                height: auto;
            }

                .access_contents_inner_title_container h3{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                }

            .access_contents_inner_text_container{
                width: 100%;
                height: 300px;
                margin-top: 10px;
            }

            .access_text_by_train{
                height: 450px;
            }

                .access_contents_inner_text_container p{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 1.5rem;
                }

    .access_image_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .access_image_inner_container{
            width: 350px;
            height: 790px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

            .access_image_inner_contents_container{
                width: 350px;
                height: 380px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .access_image_inner_contents_container img{
                    width: 350px;
                    height: 350px;
                    object-fit: cover;
                }

                .access_image_inner_contents_container p{
                    font-family: "Noto Sans JP", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    margin-top: 5px;
                }

/*ACESS -SEand13mini-*/
@media(max-width: 350px){
    .access_image_inner_contents_container img{
        width: 300px;
    }

    .access_image_inner_contents_container{
        width: 300px;
    }

    .access_image_inner_container{
        width: 300px;
    }

    .access_contents_inner_text_container p{
        font-size: 14px;
    }

    .access_contents_inner_container{
        width: 300px;
    }
}

/*ACCESS -DESKTOP-*/
@media(min-width: 768px){
    .access_image_inner_contents_container img{
        width: 377px;
    }

    .access_image_inner_contents_container{
        width: 377px;
    }

    .access_image_inner_container{
        width: 768px;
        height: auto;
        flex-direction: row;
        margin-top: 10px;
    }

    .access_contents_inner_text_container{
        height: auto;
        padding-bottom: 10px;
    }

    .access_contents_inner_container{
        width: 768px;
        height: auto;
        margin-top: 10px;
    }
}

/*MOVIE*/
.access_movie_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

    .access_movie_inner_container{
        width: 350px;
        height: 650px;
    }

        .access_movie_inner_container p{
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .access_movie_inner_container video{
            width: 350px;
            height: 622px;
        }

    .access_movie_map_container{
        width: 350px;
        height: 350px;
    }

        .access_movie_map_container p{
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .access_movie_map_container iframe{
            width: 350px;
            height: 263px;
            margin-bottom: 10px;
            object-fit: cover;
        }

/*ACCESS -SEand13mini-*/
@media(max-width: 350px){
    .access_movie_map_container iframe{
        width: 300px;
        height: 225px;
    }

    .access_movie_map_container{
        width: 300px;
    }

    .access_movie_inner_container video{
        width: 300px;
        height: auto;
    }

    .access_movie_inner_container{
        width: 300px;
    }
}

/*ACCESS -DESKTOP-*/
@media(min-width: 768px){
    .access_movie_map_container iframe{
        width: 377px;
        height: 283px;
    }

    .access_movie_map_container{
        width: 377px;
        height: auto;
    }

    .access_movie_inner_container video{
        width: 377px;
        height: auto;
    }

    .access_movie_inner_container{
        width: 377px;
        height: auto;
    }

    .access_movie_container{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
}